body {
  font-family: "Lucida Grande", "Helvetica Neue", "Arial";
  background-image: url('http://images.apple.com/v/ipod/home/b/images/gradient_texture.png');
}

h1, h2 {
  font-family: "Lucida Grande", "Helvetica Neue", "Arial";
}

.container {
  max-width: 768px;
  margin-top:3%;
}

.container .jumbotron {
  background-color: #FFF;
  border-radius: 6px;
}

/*page-header*/
.custom-header{
	margin:0;
	border-color: #CCC;
}

.jumbotron {
  text-align: center;
}

#button-container{
	width:100%;
	text-align:center;
	display:block;
}

#button-container > p{
	font-size:140%;
}

.more-button{
	width: 40%;
	font-size: 140%;
	min-width: 200px;
}